<header class="header header-fixed style-3 "  [hidden]="global.isScrollingDown" >
    <div class="header-content" [hidden]="global.isScrollingDown"  >
        <div class="left-content">
            <a href="javascript:void(0);" class="menu-toggler bg-white pe-2 rounded-xl" >
                <div class="media">
                    <div class="media-35 m-r10">
                        <img class="rounded-xl" src="assets/images/avatar/1.png" alt="">
                    </div>
                    <h6 class="mb-0 font-13">Hello’ Roopa</h6>
                </div>
            </a>
        </div>
        <div class="mid-content"></div>
        <div class="right-content d-flex align-items-center gap-3">
            <a class="notification-badge font-20">
                <i class="icon feather icon-bell"></i>
                <span class="badge badge-danger">14</span>
            </a>
            <a (click)="toggleScroll()"class="icon font-20">
                <i class="icon feather icon-search"></i>
            </a>
        </div>
    </div>
</header>
<header class="header header-fixed shadow"  style="background-color: white;" [hidden]="!global.isScrollingDown"  >
    <div class="header-content" [hidden]="!global.isScrollingDown" >
        <div class="left-content">
            <a href="javascript:void(0);" class="back-btn">
                <i class="icon feather icon-chevron-left"></i>
            </a>
        </div>
        <div class="mid-content px-2">
            <div class="input-group input-group-icon input-sm">
                <span class="input-group-text">
                    <div class="input-icon">
                        <i class="feather icon-search opacity-100"></i>
                    </div>
                </span>
                <input type="search" class="form-control font-16" placeholder="Que estas buscando'">								
            </div>
        </div>
        <div class="right-content d-flex align-items-center gap-3 lh-1 ps-2">
            <ul class="dz-tab nav nav-pills light style-1 list" >
                <!-- <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="list" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="icon feather icon-grid"></i></button>
                </li> -->
                
                <li class="nav-item" >
                    <button class="nav-link"   data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="icon feather icon-list"></i></button>
                </li>
            </ul>
            <!-- <a href="cart.html" class="notification-badge font-20">
                <i class="fi fi-rr-shopping-cart"></i>
                <span class="badge badge-danger">14</span>
            </a> -->
        </div>
    </div>
    <app-categories></app-categories>
</header>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Búsquueda Avanzada</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="icon feather icon-x"></i></button>
    </div>
    <div class="offcanvas-body">
      <app-categories></app-categories>
      <app-services></app-services>
    </div>
  </div>	